__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
venv/
.envrc
.git
.gitignore
node_modules/
frontend/node_modules/
frontend/build/
frontend/dist/
.mypy_cache/
.pytest_cache/
.DS_Store
.cache
.idea
.vscode
