.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #dde5f4;
  align-items: center;
}
body{background: #dde5f4;}

.headline {
  width: 100%;
  padding-top: 1rem;
    padding-bottom: 1rem;

 
  top: 0;
  text-align: center;
  background-color: #0dcaf0;
}
.headline > a {
  color: #fff;
}
.chat-messages > div > button{
background-color: #0dcaf0;
color: #fff;
border: 0;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
transition: 0.5s ease;
}

div.chat-ui > div:nth-child(1){
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  background-color: #dbe4f6;
}

.chat-messages > div > button:hover{
  font-size: 0.9rem;
  transition: 0.5s ease;
}


.headline h1 {
  margin: 0;
  font-size: 2rem;
}

.chat-container {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: -1px 1px 12px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chat-history-container {
  width: 30%;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.new-chat-button {
  background-color: #0dcaf0;
  color: white;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.5s ease;
  
}
.new-chat-button:hover{
  font-size: 1.3rem;
  transition: 0.5s ease;
}
.chat-history {
  flex: 1;
  overflow-y: auto;
}

.chat {
  padding: 1rem;
  cursor: pointer;
}

.chat.selected {
  background-color: #dcd9d9;
  display: flex;
    justify-content: space-between;
}

.chat-ui {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.chat-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 16px;
}

.message {
  margin-bottom: 8px;
  padding: 8px;
  max-width: 90%;
}

.message.user {
  background-color: #DCF8C6;
  color: #000;
  align-self: flex-end;
  border-radius: 7px 7px 0 7px;
}

.message.assistant {
  background-color: #dfdddd;
  color: #000;
  align-self: flex-start;
  border-radius: 7px 7px 7px 0;
}

.chat-input {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  outline: none;
}

.chat-input button {
  margin-left: 1rem;
  padding: 1rem 2rem;
  background-color: #0dcaf0;
  color: white;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
}

.chat-input button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.chat-input textarea {
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  font-size: inherit;
  line-height: 1.5rem;
  font-family: inherit;
}

.code-block {
  display: block;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 1rem;
  font-family: monospace;
  overflow: auto;
}

.inline-code {
  background-color: rgb(68, 71, 74);
  font-weight: 800;
  color: rgb(210, 143, 67);
  padding: 0.1em 0.4em;
  border-radius: 4px;
  font-family: monospace;
}

@keyframes dotPulse {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-indicator .dot {
  background-color: #000;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  animation: dotPulse 1s ease-in-out infinite;
}

.typing-indicator .dot:nth-child(1) {
  animation-delay: -0.2s;
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.2s;
}

.chat-history hr {
  border: none;
  border-top: 1px solid #ccc;
}

.footer {
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  text-align: center; 
}

.footer a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .icon {
  margin-right: 5px;
}

.profile-square{ 
    bottom: 0;         /* Вирівнювання по нижньому краю */
    left: 0;           /* Вирівнювання по лівому краю */
    width: auto;       /* Ширина елементу розтягується на всю ширину вікна */
    background: rgb(219 228 246); /* Чорний колір з прозорістю 25% */
    border-bottom-left-radius: 10px; /* Скруглені кути */
    padding: 1%;    /* Внутрішні відступи для контенту всередині контейнера */
    box-sizing: border-box; /* Допомагає управляти розмірами елемента, включаючи padding і border */
}
.profile-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
.logout{
  display: block;
  color: #ffff;
  background-color: #0dcaf0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;

}
.logout:hover{
  font-size: 1.1rem;
  transition: 0.5s ease;
}
.screen-1wrap{
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
overflow-y: hidden;
display: flex;
justify-content: center;
align-items: center;

height: 100vh;
}
.screen-1 {

  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
}

.screen-1 .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .email input {
  outline: none;
  border: none;
}
.screen-1 .email input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .email ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.screen-1 .password input {
  outline: none;
  border: none;
}
.screen-1 .password input::-moz-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input:-ms-input-placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password input::placeholder {
  color: black;
  font-size: 0.9em;
}
.screen-1 .password ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}
.screen-1 .password .show-hide {
  margin-right: -5em;
}
.screen-1 .login {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}
.screen-1 .footer1 {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
}
.screen-1 .footer1 span {
  cursor: pointer;
}

button {
  cursor: pointer;
}

select{
  background-color: #0dcaf0;
  color: white;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
}
/* Add this media query */
@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  
  .headline {
    padding: 0.5rem;
  }
  
  .headline h1 {
    font-size: 1.2rem;
  }
  
  .chat-container {
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px); /* Adjust the height to account for the headline */
    box-shadow: none;
  }
  
  .chat-history-container {
    width: 100%;
    height: 20%;
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-top: 0.8rem;
  }
  
  .chat-ui {
    width: 100%;
    height: 70%;
  }
  
  .chat-input {
    padding: 0.5rem;
  }
  
  .chat-input button {
    padding: 0.5rem 1rem;
  }
  .profile-info{
    display: none;
  }
  .profile-flex{
    position: absolute;
    top:4rem;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    justify-content: center;
    align-items: center;
  }
  .headline{
    margin-bottom: 2rem;
  }
}
